.container-loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.isSearching{
    width: 100%;
    height: calc(100vh - 90px);
}
.loading{
    content: '';
    width: 40px;
    height: 40px;
    border: 8px solid #F20000;
    border-radius: 50%;
    border-top: 10px solid white;
    animation: loading 1.5s infinite linear;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
